<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title
    th:text="'JmsTools Test ' + ${#dates.format(dataProvider.startTime, 'yyyy-MM-dd HH:mm:ss')} + ' - ' + ${#dates.format(dataProvider.endTime, 'yyyy-MM-dd HH:mm:ss')}">Test
    report</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	text-align: left;
	background-color: #95b3d7;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

caption {
	text-align: left;
	font-size: large;
	margin-top: 10px;
	white-space: nowrap;
}
</style>
</head>
<body th:if="${dataProvider.totalMessageCount > 0}">
    <h1>JmsTools Test Report</h1>
    <h2>Summary</h2>
    <p>
        The test started at <span th:text="${#dates.format(dataProvider.startTime, 'yyyy-MM-dd HH:mm:ss')}">2017-01-01
            10:00:00</span> and ended at <span th:text="${#dates.format(dataProvider.endTime, 'yyyy-MM-dd HH:mm:ss')}">2017-01-01
            12:00:00</span>. A total of <span th:text="${dataProvider.producedMessageCount}">1000</span> messages were produced
        and <span th:text="${dataProvider.consumedMessageCount}">1000</span> consumed. Of the produced messages <span
            th:text="${dataProvider.delayedMessageCount}">10</span> (<span
            th:text="${#numbers.formatDecimal(dataProvider.delayedMessagePercentage, 1, 2)}">1.00</span>%) were delayed.





    
    <h2>Correctness</h2>
    <p>
        This part focuses on correctness and relies on the JmsTools id option. The goal is to ensure that the messaging
        platform delivers every message exactly once. A <b>lost</b> message is, well, gone. Sent but not received. It
        may be truly lost, it may have been moved to a dead letter queue or the id property may have been lost in
        transit. Without the id property the message becomes an alien. A <b>duplicate</b> message has been delivered and
        (more importantly) committed by the consumer at least twice. A <b>ghost</b> message has been sent but rolled
        back; if ghost messages are found something is seriously wrong. Yet it happens. An <b>alien</b> message is a
        message without the properties set by the producer. In a correctness test where the consumer is used with the
        producer and with the id property set, there should be none. For a performance test where messages are generated
        without the id property they are normal. An <b>undead</b> message has never been sent, but yet it is not alien.
        Most likely a log file from another test has been imported, but it is also possible that a message got through
        without being logged when a producer was killed. That may be correct, or it may be problematic. If there are
        unexplained undead messages present, keep testing and find out why.
    <h3>Lost messages</h3>
    <div th:if="${dataProvider.lostMessageCount > 0}" th:remove="tag">
        There were <span th:text="${dataProvider.lostMessageCount}">5</span> lost messages.
        <table>
            <thead>
                <tr>
                    <th>JMS ID</th>
                    <th>Application ID</th>
                    <th>Published</th>
                    <th>Size</th>
                    <th>Delay</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="msg : ${dataProvider.lostMessages}">
                    <td th:text="${msg.jmsId}">ID:SomethingUniqueHere</td>
                    <td th:text="${msg.applicationId}">UUID</td>
                    <td th:text="${msg.publishedTimestamp}">2017-12-01 16:00</td>
                    <td th:text="${msg.payloadSize}" align="right">810</td>
                    <td th:text="${msg.delaySeconds}" align="right">0</td>
                </tr>
            </tbody>
        </table>
        <p>Check the dead letter queue!</p>
    </div>
    <div th:if="${dataProvider.lostMessageCount == 0}" th:remove="tag">There were no lost messages.</div>

    <h3>Duplicate messages</h3>
    <div th:if="${dataProvider.duplicateMessageCount > 0}" th:remove="tag">
        There were <span th:text="${dataProvider.duplicateMessageCount}">5</span> duplicate messages.
        <table>
            <thead>
                <tr>
                    <th>Application ID</th>
                    <th>JMS ID</th>
                    <th>Consumed</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="msg : ${dataProvider.duplicateMessages}">
                    <td th:text="${msg.applicationId}">GUID</td>
                    <td th:text="${msg.jmsId}">ID:SomethingUniqueHere</td>
                    <td th:text="${msg.consumedTimestamp}">2017-12-01 16:00</td>
                    <td th:text="${msg.payloadSize}" align="right">810</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${dataProvider.duplicateMessageCount == 0}" th:remove="tag">There were no duplicate messages.</div>

    <h3>Ghost messages</h3>
    <div th:if="${dataProvider.ghostMessageCount > 0}" th:remove="tag">
        There were <span th:text="${dataProvider.ghostMessageCount}">5</span> ghost messages.
        <table>
            <thead>
                <tr>
                    <th>JMS ID</th>
                    <th>Application ID</th>
                    <th>Consumed</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="msg : ${dataProvider.ghostMessages}">
                    <td th:text="${msg.jmsId}">ID:SomethingUniqueHere</td>
                    <td th:text="${msg.applicationId}">GUID</td>
                    <td th:text="${msg.consumedTimestamp}">2017-12-01 16:00</td>
                    <td th:text="${msg.payloadSize}" align="right">810</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${dataProvider.ghostMessageCount == 0}" th:remove="tag">There were no ghost messages.</div>

    <h3>Alien messages</h3>
    <div th:if="${dataProvider.alienMessageCount > 0}" th:remove="tag">
        There were <span th:text="${dataProvider.alienMessageCount}">5</span> alien messages.
        <table>
            <thead>
                <tr>
                    <th>JMS ID</th>
                    <th>Consumed</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="msg : ${dataProvider.alienMessages}">
                    <td th:text="${msg.jmsId}">ID:SomethingUniqueHere</td>
                    <td th:text="${msg.consumedTimestamp}">2017-12-01 16:00</td>
                    <td th:text="${msg.payloadSize}" align="right">810</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${dataProvider.alienMessageCount == 0}" th:remove="tag">There were no alien messages.</div>

    <h3>Undead messages</h3>
    <div th:if="${dataProvider.undeadMessageCount > 0}" th:remove="tag">
        There were <span th:text="${dataProvider.undeadMessageCount}">5</span> undead messages.
        <table>
            <thead>
                <tr>
                    <th>JMS ID</th>
                    <th>Application ID</th>
                    <th>Consumed</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="msg : ${dataProvider.undeadMessages}">
                    <td th:text="${msg.jmsId}">ID:SomethingUniqueHere</td>
                    <td th:text="${msg.applicationId}">GUID</td>
                    <td th:text="${msg.consumedTimestamp}">2017-12-01 16:00</td>
                    <td th:text="${msg.payloadSize}" align="right">810</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${dataProvider.undeadMessageCount == 0}" th:remove="tag">There were no undead messages.</div>

    <h2>Performance</h2>
    <p>This part focuses on performance. It covers throughput (consumed and produced messages per minute) as well as
        flight time. Be careful not to make hasty conclusions based on the figures. Performance can vary a lot with
        message sizes, transaction policies, the number of threads, the number of queues and so on. With that said, here
        is the data.
    <h3>Throughput</h3>

    <table>
        <thead>
            <tr>
                <th rowspan="2">Period</th>
                <th rowspan="2" align="right">Total #</th>
                <th colspan="3">Produced</th>
                <th colspan="3">Consumed</th>
            </tr>
            <tr>
                <th>Count</th>
                <th>Max message size</th>
                <th>Median message size</th>
                <th>Count</th>
                <th>Max message size</th>
                <th>Median message size</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${dataProvider.messagesPerMinute}">
                <td th:text="${m.periodStart}">2018-12-01 16:00</td>
                <td th:text="${m.total}" align="right">10000</td>
                <td th:text="${m.produced}" align="right">8000</td>
                <td th:text="${m.maxProducedSize}" align="right">100</td>
                <td th:text="${m.medianProducedSize}" align="right">100</td>
                <td th:text="${m.consumed}" align="right">2000</td>
                <td th:text="${m.maxConsumedSize}" align="right">100</td>
                <td th:text="${m.medianConsumedSize}" align="right">100</td>
            </tr>
        </tbody>
    </table>

    <h3>Flight time</h3>
    <div th:if="${dataProvider.flightTimeDataAvailable}" th:remove="tag">
        <p>The flight times are measured in milliseconds between the produced and consumed times. Not the commit
            times - there may be a difference, in particular when batches are used. Percentiles are computed by picking
            the closest real value without any interpolation, so for tests with few messages per minute they will be
            formally correct but misleading.
        <table>
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Count</th>
                    <th>Min</th>
                    <th>Median</th>
                    <th>95 percentile</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="m : ${dataProvider.flightTimeMetrics}">
                    <td th:text="${m.period}">2017-12-01 16:00</td>
                    <td th:text="${m.count}" align="right">810</td>
                    <td th:text="${m.min}" align="right">810</td>
                    <td th:text="${m.median}" align="right">810</td>
                    <td th:text="${m.percentile95}" align="right">810</td>
                    <td th:text="${m.max}" align="right">810</td>
                </tr>
            </tbody>
        </table>
        <img th:src="${dataProvider.base64EncodedFlightTimeMetricsImage}">
    </div>
    <div th:if="${! dataProvider.flightTimeDataAvailable}" th:remove="tag">Flight times cannot be computed.</div>
</body>
</html>